{% extends "base.html" %}
{% block title %}Ошибка 403. Ошибка проверки токена, запрос отклонен.{% endblock %}
{% block content %}
<h1>Custom CSRF check error. 403</h1>
<div class="container py-5">
  <h1>Ошибка 403. Ошибка проверки токена, запрос отклонен.</h1>
  <p>Во время отправки формы создани/редактирования поста, произошла ошибка, при проверки токена, пост и все его изменения не были сохранены в базе данных</p>
  <a href="{% url 'posts:index' %}">Нажмите сюда, что бы вернутся на главную страницу проекта</a>
</div>
{% endblock %}