{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-0">
  <h1>Привет, я автор</h1>
  <h3>
    Тут я размещу информацию о себе, используя свои умения верстать.
    Картинки, блоки, элементы бустрап. А может быть, просто напишу несколько абзацев текста. 
  </h3>
  <h3>
    Выше текст был дан в теории, а тута мой, сейчас заниматься версткой и учиться самостоятельно фронтенду времени нету((( надо быстро догонять остальных!
    Но потом когда будет время все сделаю!
  </h3>
  <h6>.
  </h6>
  <h6>.
  </h6>
  <h6>.
  </h6>
  <h6>.
  </h6>
  <h6>
    я надеюсь.....
  </h6>
</div>
{% endblock %} 